/*general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

}

html {
    background-color: #f7f9fa;
}
.container {

}

.debug {
    border: 1px solid red;
}

main {
    font-style: normal;
    margin: 30px auto;
    background-color: #f7f9fa;
    padding: 20px 0px;
}

.top-container {    
    max-width: 800px;
    margin: 30px auto 2px;
    padding: 20px;
}

.bottom-container {
    max-width: 800px;
    margin: 2px auto auto;
    padding: 20px 40px;
}

header img {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    font-size: 2em;
}

.blok {
    display: blok;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

header div {

}

/*font*/

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-semibold-big {
    font-size: 3em;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}


/*font colors

light-grey  #d0d5d9
heavy-grey  #454852
black       #000000
white       #ffffff

*/

.white {
    color: #ffffff;
}

.light-grey {
    color: #d0d5d9;
}

.heavy-grey {
    color: #454852;
}

.black {
    color: #000000;
}

/*text*/

.small-text {
    font-size: 0.8em;
}

.big-text {
    font-size: 1.2em;
}

.social-distancing-l2 {
    margin: 0.5em;
    padding: 0.5em;
}

.social-distancing-l1 {
    margin: 0.2em;
    padding: 0.2em;
}

ul {
    margin-bottom: 30px;
    list-style-type: none;
}

ul li {
    padding: 8px 0px;
}

ul>li::before {
    margin-right: 10px;
    margin-left: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;     /* si occupa di "smussare"
                            gli angoli dei bordi i bordi:la percentuale rappresenta la distanza sui lati del bordo da cui partirà lo smussamento (qui dice che partira dal 50% della linea quindi "a metà starda della linea partirà la curva.) tuttavia, siccome il border rardius si sapplica ad ogni angolo del riquadro, avremo una quantità in percentuale che parte da un estremo di un lato e la stessa quantità in percentuale che parte dall'estremo opposto sempre dello stesso lato.
                            Perciò se io ho un border-radius del 20%, ogni lato subira una curva che prende il 40% della lunghezza del lato, 20% da una parte e 20% dall'altra */
    border: 1px solid #000;
    padding: 4px;
    display: inline-block; /* trasforma qualsiasi elemento 
                            tag in un elemento inline-bloch, cioé un elemento che viene gestido come fosse un inline ma con la possibilità di potene modificare i parametri come fosse un block (le immagini si comportano cosi di default) */
    line-height: 10px;    /* gestisce l'altezza, inteso
                            come posizione verticale degli elementi (non la dimensione, quindi senza streacchare), a cui fa riferimento (in questo caso di un bordo), un'eventuale line-width gestirà invece la posizione orizzontale
                            */
    font-size: 12px;
}

li.tick::before { /* il selettore dice: per "per ogni
                    li di classe tick aggiungi (in questo caso) il content sotto prima del contenuto del tag li"*/
    content: '✓'; /* ha il compito di inserire un carattere
                    ( in questo caso la stringa '✓') all'interno dell'elemento a cui è dedicato (in questo caso all'inizio del contenuto di qualunque elemento li con classe tick) */ 
    color: green;
    border-color: green;
}

li.cross::before {/* il selettore dice: per "per ogni
                    li di classe cross aggiungi (in questo caso) il content sotto prima del contenuto del tag li"*/
    content: '✗'; /* ha il compito di inserire un carattere
                    ( in questo caso la stringa '✗') all'interno dell'elemento a cui è dedicato (in questo caso all'inizio del contenuto di qualunque elemento li con classe tick) */
    color: red;
    border-color: red;
}

/*
&check     v
&#10007    x
*/

/*background*/


/*backgrownd colors

wite        #ffffff
almost-wite #f7f9fa
light-blue  #46adf2
purple      #9b71e3
green       #63bfa8
orange      #f29f33
pink        #d964a0
vomit       #b1c926

*/

.bg-white {
    background-color: #ffffff;
}

.bg-almost-white {
    background-color: #f7f9fa;
}

.bg-light-blue {
    background-color: #46adf2;
}

.bg-purple {
    background-color: #9b71e3;
}

.bg-green {
    background-color: #63bfa8;
}

.bg-orange {
    background-color: #f29f33;
}

.bg-pink {
    background-color: #d964a0;
}

.bg-vomit {
    background-color: #b1c926;
}

.button {
    padding: 0.3em 0.5em;
    margin: 0.3em;
    border-radius: 6px;
}

.empty-button {
    border: 2px solid #d0d5d9;
    border-radius: 4px
}

