/*general*/




/*font*/

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {

}


/*font colors

light-grey  #d0d5d9
heavy-grey  #454852

*/

.light-grey {
    color: #d0d5d9;
}

.heavy-grey {
    color: #454852;
}


/*text*/

.small-text {
    font-size: 0.8em;
}

.big-text {
    font-size: 1.2em;
}


/*background*/


/*backgrownd colors

wite        #ffffff
almost-wite #f7f9fa
light-blue  #46adf2
purple      #9b71e3
green       #63bfa8
orange      #f29f33
pink        #d964a0
vomit       #b1c926

*/

.bg-white {
    background-color: #ffffff;
}

.bg-almost-white {
    background-color: #f7f9fa;
}

.bg-light-blue {
    background-color: #46adf2;
}

.bg-purple {
    background-color: #9b71e3;
}

.bg-green {
    background-color: #63bfa8;
}

.bg-orange {
    background-color: #f29f33;
}

.bg-pink {
    background-color: #d964a0;
}

.bg-vomit {
    background-color: #b1c926;
}